<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon glyphicon glyphicon-home"></i>
            <a href="#">首页</a>
        </li>
        <li ng-show="{{menu.leaf}}" class="active">{{menuItems.name}}</li>
    </ul>
</div>
<!-- 内容头标题 end-->







<!--页面内容-->
<div class="page-content">
    <!-- 页头菜单 -->
    <div class="page-header">

    </div>
    <!-- 页头菜单 end -->


    <!-- 内容 -->
    <div class="row">

        <h1>Welcome to NZLM Unite-BMS......</h1>


    </div>
    <!-- 内容 -->

</div>
<!--页面内容 end-->