<link href="/hDialog/css/common.css" rel="stylesheet" type="text/css">
<script src="/hDialog/js/jquery.hDialog.min.js"></script>
<script src="/js/contact.js"></script>
<div class="w">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="lh-50">联系方式</h3>

            <div class="more">
                <div class="progress">
                    <div class="progress-wrap">
                        <div class="progress-item passed">
                            <div class="number">1</div>
                            <div class="progress-desc">入驻须知</div>
                        </div>
                    </div>
                    <div class="progress-wrap">
                        <div class="progress-item ongoing">
                            <div class="number">2</div>
                            <div class="progress-desc">公司信息认证</div>
                        </div>
                    </div>
                    <div class="progress-wrap">
                        <div class="progress-item tobe">
                            <div class="number">3</div>
                            <div class="progress-desc">店铺信息认证</div>
                        </div>
                    </div>
                    <div class="progress-wrap">
                        <div class="progress-item tobe">
                            <div class="number"><i class="tick"></i></div>
                            <div class="progress-desc">等待审核</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form action="" method="post" onsubmit="return false;" id="contact">
            <div class="panel-body">
                <div class="m">
                    <div class="mt">
                        <h4 class="title">卖家入驻联系人信息</h4>
                        <span class="orange lh-30">用于入驻过程中接收京东反馈的入驻通知，请务必正确填写。</span>
                    </div>
                    <div class="mc">
                            <dl class="horizontal fl">
                                <dt><span class="red">*</span> 联系人姓名</dt>
                                <dd><input type="text" class="input" name="userName" value=""/></dd>
                                <dt><span class="red">*</span> 联系人手机</dt>
                                <dd>
                                    <input type="text" class="input" name="contactPhone" value=""/>
                                </dd>
                                <dt><span class="red">*</span> 联系人电子邮箱</dt>
                                <dd>
                                    <input type="text" class="input" name="email" value=""/>
                                </dd>
                            </dl>
                    </div>
                </div>
            </div>
            <div class="btn-group ml10 t-r">
                <input type="submit" value="下一步，完善公司信息" class="btn" id="nextStepBtn"/>
            </div>
        </form>
    </div>
</div>


