<link href="/hDialog/css/common.css" rel="stylesheet" type="text/css">
<script src="/hDialog/js/jquery.hDialog.min.js"></script>
<script src="/js/storeIn.js"></script>

<div class="choose-wrap">
    <div class="choose-mt">
        <h3 class="title">选择入驻商家类型</h3>

        <div class="extra">请务必仔细查阅核对您要申请入驻商家业务类型</div>
    </div>
    <div class="m choose-box01">
        <div class="mini-logo">
            <img src="http://static.360buyimg.com/shop/2015/worldwide/images/minilogo.jpg" alt=""></div>
        <p class="phase">
            支持业务说明：
            <br>
            POP主站：除京东全球购、EPT、闪购站、奢侈品站以外的所有业务模式，在国内进行销售的商家。
            <br>
            闪购站：正品“限时特卖"业务模式。
            <br>奢侈品站：仅支持国内外奢侈品品牌。</p>

        <p class="phase">
            普通商家入驻要求说明
            请确保您的企业营业执照、组织机构代码证、银行开户许可证、税务登记证、一般纳税人资格证均有效；
            <br>
            请确保您所拥有的品牌有效或已获得相关授权；
            <br>
            请确保您所售商品已取得国家规定的相关行业资质。
            <br>
            若需联系各类目招商，请进入
            <a href="http://sale.jd.com/act/hLF8eujCXw6ckmY.html" target="_blank">http://sale.jd.com/act/hLF8eujCXw6ckmY.html</a>
            。
            <br>
            更多详细的规则，请进入
            <a href="http://help.jd.com/Vender/question-851.html">http://help.jd.com/Vender/question-851.html</a>
        </p>

        <div class="btns">
            <div class="btn-h28 btn-blue theLink">
                <a href="javascript:;" class=" dialog" style="color: #fff;">确定入驻</a>
            </div>
        </div>
    </div>
    <div class="m choose-box02">
        <div class="mini-logo">
            <img src="http://static.360buyimg.com/shop/2015/worldwide/images/minilogo01.jpg" alt=""></div>
        <p class="phase">
            支持业务说明
            <br>全球购：国外公司经营，从保税区或者海外发货，在中国大陆进行退货、售后服务。</p>

        <p class="phase">
            全球购商家入驻要求：
            <br>
            1.海外注册；
            <br>
            2.经营品牌为海外品牌；
            <br>
            3.有海外银行账号；
            <br>
            4.从保税区或者海外发货；
            <br>5.有国内发货</p>

        <div class="btns">
            <div class="btn-h28 btn-blue theLink">
                <a href="javascript:;" class="qudialog" style="color: #fff;">确定入驻</a>
            </div>
        </div>
    </div>
</div>

<div id="storeIn" style="display: none">
    <div class="hint-wrap ">
        <div class="hint-box"><p class="text-int">您即将申请<strong>国内POP</strong>商家入驻，请确认并准备你企业获得的资质：<br>1
            企业营业执照、组织机构代码证、税务登记证、银行开户许可证、企业法人身份证 <br>2 经营商品所属行业相关资质证明 <br>3 经营商品所属品牌授权相关证明 <br>如已符合以上几点，请点击下一步。如不符合请点击取消重新进行确认。<br>注：确定入驻后您将不能再重新选择，请谨慎确认
        </p>
            <div class="btns"><a href="/merchant/protocol" class="btn-h28 btn-blue theLink">确认,继续入驻</a>
            </div>
        </div>
    </div>
</div>


<div id="qustoreIn" style="display: none">
    <div class="hint-wrap">
        <div class="hint-box"><p class="text-int">您即将进入京东全球购入驻系统，请您确认你的店铺是否符合：<br>1 您的公司在海外注册 <br>2 您经营的全部为海外品牌 <br>3
            您有海外银行账号 <br>4 您将从保税区或者海外发货 <br>5 您在国内退货地址提供售后服务 <br>如满足以上几点，请点击下一步。</p>
            <div class="btns"><a href="#" class="btn-h28 btn-blue theLink">确认,继续入驻</a>
            </div>
        </div>
    </div>
</div>