<div id="main">
    <div class="mod-main mod-comm">
        <div class="mt">
            <h3>评价奖励京豆细则</h3>
        </div>
        <div class="mc">
            原创评价可以帮助其他用户做出购买参考，同时您也可以获得一定数量的京豆奖励。
            <a href="http://help.jd.com/help/question-890.html" class="ftx05" target="_blank">[京豆规则]</a>
            <br /> 小京豆大用处，快去看看您的京豆都能兑换什么好东西吧。
            <a href="http://vip.jd.com/" class="ftx05" target="_blank">[去看看]</a>
        </div>
    </div>
    <div class="mod-main mod-comm extra-main" id="evalu01">
        <div class="mt mb10">
            <ul class="extra-l">
                <li class="fore-1"><a class="curr" href="javascript:;">商品评价/晒单</a></li>
                <li class="fore-2"><a href="http://club.jd.com/mytradeComment.aspx">满意度评价</a></li>
            </ul>
            <select name="commentsort" class="selt"><option value="0">全部商品</option><option value="1">待评价</option><option value="2">待晒单</option></select>
        </div>
        <div class="mc">
            <table class="tb-void tb-line">
                <colgroup>
                    <col width="430" />
                    <col width="130" />
                    <col width="" />
                </colgroup>
                <thead>
                <tr>
                    <th>商品信息</th>
                    <th>购买时间</th>
                    <th>评价状态</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="3">
                        <ul class="pro-info" oid="10250947505" pid="1797685">
                            <li class="fore1">
                                <div class="p-info clearfix">
                                    <div class="p-img fl">
                                        <a target="_blank" href="http://item.jd.com/1797685.html"> <img width="50" height="50" data-lazy-img="done" title="步步高（BBK）点读机 乐学版入学准备单本 随机发" data-img="1" src="http://img10.360buyimg.com/N5/jfs/t2248/278/377974970/171439/12ca9b13/5604e6d9N97ae9980.jpg" class="" /> </a>
                                    </div>
                                    <div class="p-name fl">
                                        <a target="_blank" href="http://item.jd.com/1797685.html">步步高（BBK）点读机 乐学版入学准备单本 随机发</a>
                                    </div>
                                </div> </li>
                            <li class="fore2"><span class="ftx03">2015-10-02</span></li>
                            <li class="fore3 forem"> <a href="#none" voucherstatus="4" class="pj" alt="1797685" title="发评价拿京豆" catefirst="652" catesecond="12346" catethird="12357">发表评价<b class="icon-show"></b></a> </li>
                        </ul>
                        <div class="clr"></div>
                        <div class="comment-box prompt01" oid="10250947505" pid="1797685" style="display: block;">
                            <div class="box-t"></div>
                            <div class="form" tagflag="true" isconspros="" pid="1797685">
                                <div class="item item01 titleEl" style="display:none;">
                                    <span class="label"><em>*</em>标题：</span>
                                    <div class="tit">
                                        <input autocomplete="off" id="title" name="title" style="width:340px;" type="text" class="title text area01" value="" />
                                        <div class="clr"></div>
                                        <div class="msg-text ftx-03">
                                            4-20字
                                        </div>
                                    </div>
                                    <span class="msg-error-01 ml10 hide">麻烦填写4-20个字呦</span>
                                    <div class="clr"></div>
                                </div>
                                <div class="item scoreEl">
                                    <span class="label"><em>*</em>评分：</span>
                                    <div class="fl">
                                        <span class="commstar"> <a href="javascript:;" class="star1" _val="1"></a> <a href="javascript:;" class="star2" _val="2"></a> <a href="javascript:;" class="star3" _val="3"></a> <a href="javascript:;" class="star4" _val="4"></a> <a href="javascript:;" class="star5" _val="5"></a> </span>
                                        <input type="hidden" name="commentStar" />
                                        <div class="clr"></div>
                                    </div>
                                    <span class="msg-error-01 ml10 hide">你的评分是偶们前进的动力</span>
                                    <div class="clr"></div>
                                </div>
                                <div class="item tagEl" style="">
                                    <span class="label"><em>*</em>标签：</span>
                                    <div class="fl">
                                        <ul class="tips-list">
                                            <li class="list-last">
                                                <div class="fore1">
                                                    <s class="f-input"></s>自定义
                                                </div>
                                                <div class="fore2 hide">
                                                    <input type="text" maxlength="12" class="itxt" />
                                                    <span class="">按回车提交</span>
                                                </div> </li>
                                        </ul>
                                        <span class="msg-error-01 hide"></span>
                                        <div class="clr"></div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="item item01 xindeEl">
                                    <span class="label"><em>*</em>心得：</span>
                                    <div class="cont">
                                        <textarea name="" cols="" rows="" class="area area01">商品是否给力？快分享你的购买心得吧~</textarea>
                                        <div class="clr"></div>
                                        <span class="msg-error-01 hide">麻烦填写10-500个字呦</span>
                                        <div class="msg-text ftx-03">
                                            10-500字
                                        </div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="attrEl" style="display:none;">
                                </div>
                                <div class="item imgEl" id="imgContainer_10250947505_1797685" style="display: none;">
                                    <span class="label">晒单：</span>
                                    <div class="fl">
                                        <div class="upload-img-box">
                                            <div class="img-list">
                                                <input type="hidden" name="imgs1" value="" />
                                                <input type="hidden" name="imgs2" value="" />
                                                <input type="hidden" name="imgs3" value="" />
                                                <input type="hidden" name="imgs4" value="" />
                                                <input type="hidden" name="imgs5" value="" />
                                                <input type="hidden" name="imgs6" value="" />
                                                <input type="hidden" name="imgs7" value="" />
                                                <input type="hidden" name="imgs8" value="" />
                                                <input type="hidden" name="imgs9" value="" />
                                                <input type="hidden" name="imgs10" value="" />
                                                <ul class="img-list-ul">
                                                    <li class="upload-btn">
                                                        <div>
                                                            <a id="pickbutton_10250947505_1797685" href="#none" style="position: relative; z-index: 1;">添加图片</a>
                                                            <span class="ftx-03 ar">0/10</span>
                                                        </div> </li>
                                                </ul>
                                            </div>
                                            <div class="clr"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="isnL hide" style="text-align:center;">
                                    登录后才能发表评价，请
                                    <a href="#none" class="loginBut">登录</a>
                                </div>
                                <div class="isL hide">
                                    <span class="label"><em>*</em>验证码：</span>
                                    <div class="fl">
                                        <input id="seccode" acid="" maxlength="7" type="text" autocomplete="off" class="text text02 itxt" name="" />
                                        <img class="seccodeimg" height="28" alt="" src="" />
                                        <a href="#none" class="seccodenext">(换一张)</a>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="item item02">
                                    <span class="label">&nbsp;</span>
                                    <div class="fl">
                                        <a href="#none" class="btn btn-5 mr20">
                                            <s></s> <span class="pingjiaEl">评价并继续</span> </a>
                                        <input class="jdcheckbox" checked="checked" type="checkbox" id="anonymousFlag" name="thirdShare" />
                                        <label for="anonymousFlag" class="anon-l" title="匿名评价不会展示您的用户昵称，该评价也不会被第三方网站应用">匿名评价<span class="sign-icon"></span></label>
                                        <div class="msg-text"></div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-box prompt02" style="display:none;">
                            <div class="box-t"></div>
                            <div class="form" tagflag="" isconspros="" pid="">
                                <div class="item item01 titleEl" style="display:none;">
                                    <span class="label"><em>*</em>标题：</span>
                                    <div class="tit">
                                        <input autocomplete="off" id="title" name="title" style="width:340px;" type="text" class="title text area01" value="" />
                                        <div class="clr"></div>
                                        <div class="msg-text ftx-03">
                                            4-20字
                                        </div>
                                    </div>
                                    <span class="msg-error-01 ml10 hide">麻烦填写4-20个字呦</span>
                                    <div class="clr"></div>
                                </div>
                                <div class="item scoreEl">
                                    <span class="label"><em>*</em>评分：</span>
                                    <div class="fl">
                                        <span class="commstar"> <a href="javascript:;" class="star1" _val="1"></a> <a href="javascript:;" class="star2" _val="2"></a> <a href="javascript:;" class="star3" _val="3"></a> <a href="javascript:;" class="star4" _val="4"></a> <a href="javascript:;" class="star5" _val="5"></a> </span>
                                        <input type="hidden" name="commentStar" />
                                        <div class="clr"></div>
                                    </div>
                                    <span class="msg-error-01 ml10 hide">你的评分是偶们前进的动力</span>
                                    <div class="clr"></div>
                                </div>
                                <div class="item tagEl" style="display:none;">
                                    <span class="label"><em>*</em>标签：</span>
                                    <div class="fl">
                                        <ul class="tips-list">
                                            <li class="list-last">
                                                <div class="fore1">
                                                    <s class="f-input"></s>自定义
                                                </div>
                                                <div class="fore2 hide">
                                                    <input type="text" maxlength="12" class="itxt" />
                                                    <span class="">按回车提交</span>
                                                </div> </li>
                                        </ul>
                                        <span class="msg-error-01 hide"></span>
                                        <div class="clr"></div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="item item01 xindeEl">
                                    <span class="label"><em>*</em>心得：</span>
                                    <div class="cont">
                                        <textarea name="" cols="" rows="" class="area area01"></textarea>
                                        <div class="clr"></div>
                                        <span class="msg-error-01 hide">麻烦填写10-500个字呦</span>
                                        <div class="msg-text ftx-03">
                                            10-500字
                                        </div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="attrEl" style="display:none;">
                                </div>
                                <div class="item imgEl" id="imgContainer_10250947505_1797685">
                                    <span class="label">晒单：</span>
                                    <div class="fl">
                                        <div class="upload-img-box">
                                            <div class="img-list">
                                                <input type="hidden" name="imgs1" value="" />
                                                <input type="hidden" name="imgs2" value="" />
                                                <input type="hidden" name="imgs3" value="" />
                                                <input type="hidden" name="imgs4" value="" />
                                                <input type="hidden" name="imgs5" value="" />
                                                <input type="hidden" name="imgs6" value="" />
                                                <input type="hidden" name="imgs7" value="" />
                                                <input type="hidden" name="imgs8" value="" />
                                                <input type="hidden" name="imgs9" value="" />
                                                <input type="hidden" name="imgs10" value="" />
                                                <ul class="img-list-ul">
                                                    <li class="upload-btn">
                                                        <div>
                                                            <a id="pickbutton_10250947505_1797685" href="#none" style="position: relative; z-index: 1;">添加图片</a>
                                                            <span class="ftx-03 ar">0/10</span>
                                                        </div> </li>
                                                </ul>
                                            </div>
                                            <div class="clr"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="isnL" style="text-align:center;">
                                    登录后才能发表评价，请
                                    <a href="#none" class="loginBut">登录</a>
                                </div>
                                <div class="isL">
                                    <span class="label"><em>*</em>验证码：</span>
                                    <div class="fl">
                                        <input id="seccode" acid="" maxlength="7" type="text" autocomplete="off" class="text text02 itxt" name="" />
                                        <img class="seccodeimg" height="28" alt="" src="" />
                                        <a href="#none" class="seccodenext">(换一张)</a>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="item item02">
                                    <span class="label">&nbsp;</span>
                                    <div class="fl">
                                        <a href="#none" class="btn btn-5 mr20">
                                            <s></s> <span class="pingjiaEl">评价并继续</span> </a>
                                        <input class="jdcheckbox" checked="checked" type="checkbox" id="anonymousFlag" name="thirdShare" />
                                        <label for="anonymousFlag" class="anon-l" title="匿名评价不会展示您的用户昵称，该评价也不会被第三方网站应用">匿名评价<span class="sign-icon"></span></label>
                                        <div class="msg-text"></div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-box prompt03" style="display:none">
                            <div class="box-t"></div>
                            <div class="form">
                                <div class="item item01 titleEl" style="display:none;">
                                    <span class="label"><em>*</em>标题：</span>
                                    <div class="tit">
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="item scoreEl">
                                    <span class="label">评分：</span>
                                    <div class="fl">
                                        <span class="commstar"> <a href="javascript:;" class="star1" _val="1"></a> <a href="javascript:;" class="star2" _val="2"></a> <a href="javascript:;" class="star3" _val="3"></a> <a href="javascript:;" class="star4" _val="4"></a> <a href="javascript:;" class="star5" _val="5"></a> </span>
                                        <div class="clr"></div>
                                    </div>
                                </div>
                                <div class="item tagEl" style="display:none;">
                                    <span class="label">标签：</span>
                                    <div class="fl">
                                        <ul class="tips-list commented-tips-list">
                                            <li class="tips-li"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item xindeEl" style="display:none;">
                                    <span class="label">心得：</span>
                                    <div class="fl cont"></div>
                                </div>
                                <div class="attrEl" style="display:none;">
                                    <div class="item">
                                        <span class="label">用户信息：</span>
                                        <div class="fl">
                                            <div>
                                                <span class="ftx-03 mr10">我的身材</span> 165/52kg
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="imgContainer_10250947505_1797685" class="item imgEl" style="display:none;">
                                    <span class="label">晒单：</span>
                                    <div class="fl">
                                        <div class="upload-img-box">
                                            <div class="img-list">
                                                <input type="hidden" name="imgs1" value="" />
                                                <input type="hidden" name="imgs2" value="" />
                                                <input type="hidden" name="imgs3" value="" />
                                                <input type="hidden" name="imgs4" value="" />
                                                <input type="hidden" name="imgs5" value="" />
                                                <input type="hidden" name="imgs6" value="" />
                                                <input type="hidden" name="imgs7" value="" />
                                                <input type="hidden" name="imgs8" value="" />
                                                <input type="hidden" name="imgs9" value="" />
                                                <input type="hidden" name="imgs10" value="" />
                                                <ul class="img-list-ul">
                                                    <li class="upload-btn">
                                                        <div>
                                                            <a id="pickbutton_10250947505_1797685" href="#none" style="position: relative; z-index: 1;">添加图片</a>
                                                            <span class="ftx-03 ar">0/10</span>
                                                        </div> </li>
                                                </ul>
                                            </div>
                                            <div class="clr"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item item02 submitEl" style="display:none;">
                                    <span class="label">&nbsp;</span>
                                    <div class="fl">
                                        <a href="#none" class="btn btn-5 mr20">
                                            <s></s> <span class="pingjiaEl">评价并继续</span> </a>
                                        <input class="jdcheckbox" checked="checked" type="checkbox" id="anonymousFlag" name="thirdShare" />
                                        <label for="anonymousFlag" class="anon-l" title="匿名评价不会展示您的用户昵称，该评价也不会被第三方网站应用">匿名评价<span class="sign-icon"></span></label>
                                        <div class="msg-text"></div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                            </div>
                        </div> </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <ul class="pro-info" oid="10250947505" pid="1184970">
                            <li class="fore1">
                                <div class="p-info clearfix">
                                    <div class="p-img fl">
                                        <a target="_blank" href="http://item.jd.com/1184970.html"> <img width="50" height="50" data-lazy-img="done" title="步步高（BBK） 点读机 专用内胆包" data-img="1" src="http://img10.360buyimg.com/N5/jfs/t685/246/376820950/153995/9598a5e4/54608ec3Na74f246a.jpg" class="" /> </a>
                                    </div>
                                    <div class="p-name fl">
                                        <a target="_blank" href="http://item.jd.com/1184970.html">步步高（BBK） 点读机 专用内胆包</a>
                                    </div>
                                </div> </li>
                            <li class="fore2"><span class="ftx03">2015-10-02</span></li>
                            <li class="fore3 forem"> <a href="#none" voucherstatus="4" class="pj" alt="1184970" title="发评价拿京豆" catefirst="652" catesecond="12346" catethird="12357">发表评价<b class="icon-show"></b></a> </li>
                        </ul>
                        <div class="clr"></div>
                        <div class="comment-box prompt01" oid="10250947505" pid="1184970" style="display: none;"></div>
                        <div class="comment-box prompt02" style="display:none;">
                            <div class="box-t"></div>
                            <div class="form" tagflag="" isconspros="" pid="">
                                <div class="item item01 titleEl" style="display:none;">
                                    <span class="label"><em>*</em>标题：</span>
                                    <div class="tit">
                                        <input autocomplete="off" id="title" name="title" style="width:340px;" type="text" class="title text area01" value="" />
                                        <div class="clr"></div>
                                        <div class="msg-text ftx-03">
                                            4-20字
                                        </div>
                                    </div>
                                    <span class="msg-error-01 ml10 hide">麻烦填写4-20个字呦</span>
                                    <div class="clr"></div>
                                </div>
                                <div class="item scoreEl">
                                    <span class="label"><em>*</em>评分：</span>
                                    <div class="fl">
                                        <span class="commstar"> <a href="javascript:;" class="star1" _val="1"></a> <a href="javascript:;" class="star2" _val="2"></a> <a href="javascript:;" class="star3" _val="3"></a> <a href="javascript:;" class="star4" _val="4"></a> <a href="javascript:;" class="star5" _val="5"></a> </span>
                                        <input type="hidden" name="commentStar" />
                                        <div class="clr"></div>
                                    </div>
                                    <span class="msg-error-01 ml10 hide">你的评分是偶们前进的动力</span>
                                    <div class="clr"></div>
                                </div>
                                <div class="item tagEl" style="display:none;">
                                    <span class="label"><em>*</em>标签：</span>
                                    <div class="fl">
                                        <ul class="tips-list">
                                            <li class="list-last">
                                                <div class="fore1">
                                                    <s class="f-input"></s>自定义
                                                </div>
                                                <div class="fore2 hide">
                                                    <input type="text" maxlength="12" class="itxt" />
                                                    <span class="">按回车提交</span>
                                                </div> </li>
                                        </ul>
                                        <span class="msg-error-01 hide"></span>
                                        <div class="clr"></div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="item item01 xindeEl">
                                    <span class="label"><em>*</em>心得：</span>
                                    <div class="cont">
                                        <textarea name="" cols="" rows="" class="area area01"></textarea>
                                        <div class="clr"></div>
                                        <span class="msg-error-01 hide">麻烦填写10-500个字呦</span>
                                        <div class="msg-text ftx-03">
                                            10-500字
                                        </div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="attrEl" style="display:none;">
                                </div>
                                <div class="item imgEl" id="imgContainer_10250947505_1184970">
                                    <span class="label">晒单：</span>
                                    <div class="fl">
                                        <div class="upload-img-box">
                                            <div class="img-list">
                                                <input type="hidden" name="imgs1" value="" />
                                                <input type="hidden" name="imgs2" value="" />
                                                <input type="hidden" name="imgs3" value="" />
                                                <input type="hidden" name="imgs4" value="" />
                                                <input type="hidden" name="imgs5" value="" />
                                                <input type="hidden" name="imgs6" value="" />
                                                <input type="hidden" name="imgs7" value="" />
                                                <input type="hidden" name="imgs8" value="" />
                                                <input type="hidden" name="imgs9" value="" />
                                                <input type="hidden" name="imgs10" value="" />
                                                <ul class="img-list-ul">
                                                    <li class="upload-btn">
                                                        <div>
                                                            <a id="pickbutton_10250947505_1184970" href="#none" style="position: relative; z-index: 1;">添加图片</a>
                                                            <span class="ftx-03 ar">0/10</span>
                                                        </div> </li>
                                                </ul>
                                            </div>
                                            <div class="clr"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="isnL" style="text-align:center;">
                                    登录后才能发表评价，请
                                    <a href="#none" class="loginBut">登录</a>
                                </div>
                                <div class="isL">
                                    <span class="label"><em>*</em>验证码：</span>
                                    <div class="fl">
                                        <input id="seccode" acid="" maxlength="7" type="text" autocomplete="off" class="text text02 itxt" name="" />
                                        <img class="seccodeimg" height="28" alt="" src="" />
                                        <a href="#none" class="seccodenext">(换一张)</a>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="item item02">
                                    <span class="label">&nbsp;</span>
                                    <div class="fl">
                                        <a href="#none" class="btn btn-5 mr20">
                                            <s></s> <span class="pingjiaEl">评价并继续</span> </a>
                                        <input class="jdcheckbox" checked="checked" type="checkbox" id="anonymousFlag" name="thirdShare" />
                                        <label for="anonymousFlag" class="anon-l" title="匿名评价不会展示您的用户昵称，该评价也不会被第三方网站应用">匿名评价<span class="sign-icon"></span></label>
                                        <div class="msg-text"></div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-box prompt03" style="display:none">
                            <div class="box-t"></div>
                            <div class="form">
                                <div class="item item01 titleEl" style="display:none;">
                                    <span class="label"><em>*</em>标题：</span>
                                    <div class="tit">
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="item scoreEl">
                                    <span class="label">评分：</span>
                                    <div class="fl">
                                        <span class="commstar"> <a href="javascript:;" class="star1" _val="1"></a> <a href="javascript:;" class="star2" _val="2"></a> <a href="javascript:;" class="star3" _val="3"></a> <a href="javascript:;" class="star4" _val="4"></a> <a href="javascript:;" class="star5" _val="5"></a> </span>
                                        <div class="clr"></div>
                                    </div>
                                </div>
                                <div class="item tagEl" style="display:none;">
                                    <span class="label">标签：</span>
                                    <div class="fl">
                                        <ul class="tips-list commented-tips-list">
                                            <li class="tips-li"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item xindeEl" style="display:none;">
                                    <span class="label">心得：</span>
                                    <div class="fl cont"></div>
                                </div>
                                <div class="attrEl" style="display:none;">
                                    <div class="item">
                                        <span class="label">用户信息：</span>
                                        <div class="fl">
                                            <div>
                                                <span class="ftx-03 mr10">我的身材</span> 165/52kg
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="imgContainer_10250947505_1184970" class="item imgEl" style="display:none;">
                                    <span class="label">晒单：</span>
                                    <div class="fl">
                                        <div class="upload-img-box">
                                            <div class="img-list">
                                                <input type="hidden" name="imgs1" value="" />
                                                <input type="hidden" name="imgs2" value="" />
                                                <input type="hidden" name="imgs3" value="" />
                                                <input type="hidden" name="imgs4" value="" />
                                                <input type="hidden" name="imgs5" value="" />
                                                <input type="hidden" name="imgs6" value="" />
                                                <input type="hidden" name="imgs7" value="" />
                                                <input type="hidden" name="imgs8" value="" />
                                                <input type="hidden" name="imgs9" value="" />
                                                <input type="hidden" name="imgs10" value="" />
                                                <ul class="img-list-ul">
                                                    <li class="upload-btn">
                                                        <div>
                                                            <a id="pickbutton_10250947505_1184970" href="#none" style="position: relative; z-index: 1;">添加图片</a>
                                                            <span class="ftx-03 ar">0/10</span>
                                                        </div> </li>
                                                </ul>
                                            </div>
                                            <div class="clr"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item item02 submitEl" style="display:none;">
                                    <span class="label">&nbsp;</span>
                                    <div class="fl">
                                        <a href="#none" class="btn btn-5 mr20">
                                            <s></s> <span class="pingjiaEl">评价并继续</span> </a>
                                        <input class="jdcheckbox" checked="checked" type="checkbox" id="anonymousFlag" name="thirdShare" />
                                        <label for="anonymousFlag" class="anon-l" title="匿名评价不会展示您的用户昵称，该评价也不会被第三方网站应用">匿名评价<span class="sign-icon"></span></label>
                                        <div class="msg-text"></div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                            </div>
                        </div> </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <ul class="pro-info" oid="10250947505" pid="968790">
                            <li class="fore1">
                                <div class="p-info clearfix">
                                    <div class="p-img fl">
                                        <a target="_blank" href="http://item.jd.com/968790.html"> <img width="50" height="50" data-lazy-img="done" title="步步高（BBK） 点读机 T800-E 蓝色 4G 点读笔 小学初中同步 幼儿早教机 学习机 故事机" data-img="1" src="http://img10.360buyimg.com/N5/g15/M02/07/10/rBEhWlIgAVYIAAAAAAHAS9e0XCUAACmhgDRG7cAAcBj983.jpg" class="" /> </a>
                                    </div>
                                    <div class="p-name fl">
                                        <a target="_blank" href="http://item.jd.com/968790.html">步步高（BBK） 点读机 T800-E 蓝色 4G 点读笔 小学初中同步 幼儿早教机 学习机 故事机</a>
                                    </div>
                                </div> </li>
                            <li class="fore2"><span class="ftx03">2015-10-02</span></li>
                            <li class="fore3 forem"> <a href="#none" voucherstatus="0" class="pj" alt="968790" title="发评价拿京豆" catefirst="652" catesecond="12346" catethird="12357">发表评价<b class="icon-show"></b></a> </li>
                        </ul>
                        <div class="clr"></div>
                        <div class="comment-box prompt01" oid="10250947505" pid="968790" style="display: none;"></div>
                        <div class="comment-box prompt02" style="display:none;">
                            <div class="box-t"></div>
                            <div class="form" tagflag="" isconspros="" pid="">
                                <div class="item item01 titleEl" style="display:none;">
                                    <span class="label"><em>*</em>标题：</span>
                                    <div class="tit">
                                        <input autocomplete="off" id="title" name="title" style="width:340px;" type="text" class="title text area01" value="" />
                                        <div class="clr"></div>
                                        <div class="msg-text ftx-03">
                                            4-20字
                                        </div>
                                    </div>
                                    <span class="msg-error-01 ml10 hide">麻烦填写4-20个字呦</span>
                                    <div class="clr"></div>
                                </div>
                                <div class="item scoreEl">
                                    <span class="label"><em>*</em>评分：</span>
                                    <div class="fl">
                                        <span class="commstar"> <a href="javascript:;" class="star1" _val="1"></a> <a href="javascript:;" class="star2" _val="2"></a> <a href="javascript:;" class="star3" _val="3"></a> <a href="javascript:;" class="star4" _val="4"></a> <a href="javascript:;" class="star5" _val="5"></a> </span>
                                        <input type="hidden" name="commentStar" />
                                        <div class="clr"></div>
                                    </div>
                                    <span class="msg-error-01 ml10 hide">你的评分是偶们前进的动力</span>
                                    <div class="clr"></div>
                                </div>
                                <div class="item tagEl" style="display:none;">
                                    <span class="label"><em>*</em>标签：</span>
                                    <div class="fl">
                                        <ul class="tips-list">
                                            <li class="list-last">
                                                <div class="fore1">
                                                    <s class="f-input"></s>自定义
                                                </div>
                                                <div class="fore2 hide">
                                                    <input type="text" maxlength="12" class="itxt" />
                                                    <span class="">按回车提交</span>
                                                </div> </li>
                                        </ul>
                                        <span class="msg-error-01 hide"></span>
                                        <div class="clr"></div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="item item01 xindeEl">
                                    <span class="label"><em>*</em>心得：</span>
                                    <div class="cont">
                                        <textarea name="" cols="" rows="" class="area area01"></textarea>
                                        <div class="clr"></div>
                                        <span class="msg-error-01 hide">麻烦填写10-500个字呦</span>
                                        <div class="msg-text ftx-03">
                                            10-500字
                                        </div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="attrEl" style="display:none;">
                                </div>
                                <div class="item imgEl" id="imgContainer_10250947505_968790">
                                    <span class="label">晒单：</span>
                                    <div class="fl">
                                        <div class="upload-img-box">
                                            <div class="img-list">
                                                <input type="hidden" name="imgs1" value="" />
                                                <input type="hidden" name="imgs2" value="" />
                                                <input type="hidden" name="imgs3" value="" />
                                                <input type="hidden" name="imgs4" value="" />
                                                <input type="hidden" name="imgs5" value="" />
                                                <input type="hidden" name="imgs6" value="" />
                                                <input type="hidden" name="imgs7" value="" />
                                                <input type="hidden" name="imgs8" value="" />
                                                <input type="hidden" name="imgs9" value="" />
                                                <input type="hidden" name="imgs10" value="" />
                                                <ul class="img-list-ul">
                                                    <li class="upload-btn">
                                                        <div>
                                                            <a id="pickbutton_10250947505_968790" href="#none" style="position: relative; z-index: 1;">添加图片</a>
                                                            <span class="ftx-03 ar">0/10</span>
                                                        </div> </li>
                                                </ul>
                                            </div>
                                            <div class="clr"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="isnL" style="text-align:center;">
                                    登录后才能发表评价，请
                                    <a href="#none" class="loginBut">登录</a>
                                </div>
                                <div class="isL">
                                    <span class="label"><em>*</em>验证码：</span>
                                    <div class="fl">
                                        <input id="seccode" acid="" maxlength="7" type="text" autocomplete="off" class="text text02 itxt" name="" />
                                        <img class="seccodeimg" height="28" alt="" src="" />
                                        <a href="#none" class="seccodenext">(换一张)</a>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="item item02">
                                    <span class="label">&nbsp;</span>
                                    <div class="fl">
                                        <a href="#none" class="btn btn-5 mr20">
                                            <s></s> <span class="pingjiaEl">评价并继续</span> </a>
                                        <input class="jdcheckbox" checked="checked" type="checkbox" id="anonymousFlag" name="thirdShare" />
                                        <label for="anonymousFlag" class="anon-l" title="匿名评价不会展示您的用户昵称，该评价也不会被第三方网站应用">匿名评价<span class="sign-icon"></span></label>
                                        <div class="msg-text"></div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-box prompt03" style="display:none">
                            <div class="box-t"></div>
                            <div class="form">
                                <div class="item item01 titleEl" style="display:none;">
                                    <span class="label"><em>*</em>标题：</span>
                                    <div class="tit">
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="item scoreEl">
                                    <span class="label">评分：</span>
                                    <div class="fl">
                                        <span class="commstar"> <a href="javascript:;" class="star1" _val="1"></a> <a href="javascript:;" class="star2" _val="2"></a> <a href="javascript:;" class="star3" _val="3"></a> <a href="javascript:;" class="star4" _val="4"></a> <a href="javascript:;" class="star5" _val="5"></a> </span>
                                        <div class="clr"></div>
                                    </div>
                                </div>
                                <div class="item tagEl" style="display:none;">
                                    <span class="label">标签：</span>
                                    <div class="fl">
                                        <ul class="tips-list commented-tips-list">
                                            <li class="tips-li"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item xindeEl" style="display:none;">
                                    <span class="label">心得：</span>
                                    <div class="fl cont"></div>
                                </div>
                                <div class="attrEl" style="display:none;">
                                    <div class="item">
                                        <span class="label">用户信息：</span>
                                        <div class="fl">
                                            <div>
                                                <span class="ftx-03 mr10">我的身材</span> 165/52kg
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="imgContainer_10250947505_968790" class="item imgEl" style="display:none;">
                                    <span class="label">晒单：</span>
                                    <div class="fl">
                                        <div class="upload-img-box">
                                            <div class="img-list">
                                                <input type="hidden" name="imgs1" value="" />
                                                <input type="hidden" name="imgs2" value="" />
                                                <input type="hidden" name="imgs3" value="" />
                                                <input type="hidden" name="imgs4" value="" />
                                                <input type="hidden" name="imgs5" value="" />
                                                <input type="hidden" name="imgs6" value="" />
                                                <input type="hidden" name="imgs7" value="" />
                                                <input type="hidden" name="imgs8" value="" />
                                                <input type="hidden" name="imgs9" value="" />
                                                <input type="hidden" name="imgs10" value="" />
                                                <ul class="img-list-ul">
                                                    <li class="upload-btn">
                                                        <div>
                                                            <a id="pickbutton_10250947505_968790" href="#none" style="position: relative; z-index: 1;">添加图片</a>
                                                            <span class="ftx-03 ar">0/10</span>
                                                        </div> </li>
                                                </ul>
                                            </div>
                                            <div class="clr"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item item02 submitEl" style="display:none;">
                                    <span class="label">&nbsp;</span>
                                    <div class="fl">
                                        <a href="#none" class="btn btn-5 mr20">
                                            <s></s> <span class="pingjiaEl">评价并继续</span> </a>
                                        <input class="jdcheckbox" checked="checked" type="checkbox" id="anonymousFlag" name="thirdShare" />
                                        <label for="anonymousFlag" class="anon-l" title="匿名评价不会展示您的用户昵称，该评价也不会被第三方网站应用">匿名评价<span class="sign-icon"></span></label>
                                        <div class="msg-text"></div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                            </div>
                        </div> </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="mt10 clearfix">
            <div class="pagin pagin-m fr">
                <a class="current">1</a>
            </div>
            <!--pagin end-->
        </div>
    </div>
</div>