<div id="main">
    <div class="mod-main mod-comm">
        <div class="mt mb10">
            <h3>取消订单记录</h3>
            <div class="extra-r">
            </div>
        </div>
        <div class="mc">
            <table class="tb-void tb-top" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <th width="90">订单编号</th>
                    <th width="110">订单商品</th>
                    <th width="110">提交时间</th>
                    <th width="212">支付明细</th>
                    <th width="120">退款状态</th>
                    <th width="110">操作</th>
                </tr>
                <tr>
                    <td><a href="http://order.jd.com/normal/item.action?orderid=10250643947&amp;PassKey=8113031E967F8D9BF1D9D450A74DE9AB" target="_blank">10250643947</a></td>
                    <td>
                        <div class="img-list">
                            <a class="img-box" href="http://www.jd.com/product/968790.html" target="_blank"> <img src="http://img10.360buyimg.com/N5/g15/M02/07/10/rBEhWlIgAVYIAAAAAAHAS9e0XCUAACmhgDRG7cAAcBj983.jpg" title="步步高（BBK） 点读机 T800-E 蓝色 4G 点读笔 小学初中同步 幼儿早教机 学习机 故事机" /> </a>
                            <a class="img-box" href="http://www.jd.com/product/1184970.html" target="_blank"> <img src="http://img10.360buyimg.com/N5/jfs/t685/246/376820950/153995/9598a5e4/54608ec3Na74f246a.jpg" title="步步高（BBK） 点读机 专用内胆包" /> </a>
                            <a class="img-box" href="http://www.jd.com/product/1797685.html" target="_blank"> <img src="http://img10.360buyimg.com/N5/jfs/t2248/278/377974970/171439/12ca9b13/5604e6d9N97ae9980.jpg" title="步步高（BBK）点读机 乐学版入学准备单本 随机发" /> </a>
                        </div> </td>
                    <td><span class="ftx-03">2015-10-02<br />17:20:05</span></td>
                    <td>
                        <dl class="pdeta">
                            <dt>
                            <div class="fore1">
                                订单支付金额：
                            </div>
                            <div class="fore2">
                                ￥0.00
                            </div>
                            </dt>
                            <div class="fore1">
                                无支付信息&nbsp;&nbsp;
                            </div>
                            <div class="fore2"></div>
                            <div class="fore3"></div>
                        </dl> </td>
                    <td> <span class="ftx-02">已完成</span> </td>
                    <td> <a href="/rest/refund/refundDetail?orderId=10250643947&amp;applyId=388043683&amp;status=40&amp;handleResult=true&amp;bizType=0">查看</a> </td>
                </tr>
                <tr>
                    <td><a href="http://order.jd.com/normal/item.action?orderid=10250917510&amp;PassKey=A79C51E3E442C6A60545F70B98010ABE" target="_blank">10250917510</a></td>
                    <td>
                        <div class="img-list">
                            <a class="img-box" href="http://www.jd.com/product/968790.html" target="_blank"> <img src="http://img10.360buyimg.com/N5/g15/M02/07/10/rBEhWlIgAVYIAAAAAAHAS9e0XCUAACmhgDRG7cAAcBj983.jpg" title="步步高（BBK） 点读机 T800-E 蓝色 4G 点读笔 小学初中同步 幼儿早教机 学习机 故事机" /> </a>
                            <a class="img-box" href="http://www.jd.com/product/1184970.html" target="_blank"> <img src="http://img10.360buyimg.com/N5/jfs/t685/246/376820950/153995/9598a5e4/54608ec3Na74f246a.jpg" title="步步高（BBK） 点读机 专用内胆包" /> </a>
                            <a class="img-box" href="http://www.jd.com/product/1797685.html" target="_blank"> <img src="http://img10.360buyimg.com/N5/jfs/t2248/278/377974970/171439/12ca9b13/5604e6d9N97ae9980.jpg" title="步步高（BBK）点读机 乐学版入学准备单本 随机发" /> </a>
                        </div> </td>
                    <td><span class="ftx-03">2015-10-02<br />17:16:03</span></td>
                    <td>
                        <dl class="pdeta">
                            <dt>
                            <div class="fore1">
                                订单支付金额：
                            </div>
                            <div class="fore2">
                                ￥0.00
                            </div>
                            </dt>
                            <div class="fore1">
                                无支付信息&nbsp;&nbsp;
                            </div>
                            <div class="fore2"></div>
                            <div class="fore3"></div>
                        </dl> </td>
                    <td> <span class="ftx-02">已完成</span> </td>
                    <td> <a href="/rest/refund/refundDetail?orderId=10250917510&amp;applyId=388039641&amp;status=40&amp;handleResult=true&amp;bizType=0">查看</a> </td>
                </tr>
                <tr>
                    <td><a href="http://order.jd.com/normal/item.action?orderid=9978927510&amp;PassKey=DF9C2C16D773A2F54D37712CD0B07E6F" target="_blank">9978927510</a></td>
                    <td>
                        <div class="img-list">
                            <a class="img-box" href="http://www.jd.com/product/1710056.html" target="_blank"> <img src="http://img10.360buyimg.com/N5/jfs/t1360/33/697076137/104014/e3d41717/55a484b1Nb3582e04.jpg" title="沙宣 VS 修护水养（洗发水500ml+润发乳500ml）送（洗发露50ml赠品+润发乳50ml赠品）专供装" /> </a>
                        </div> </td>
                    <td><span class="ftx-03">2015-08-29<br />10:41:40</span></td>
                    <td>
                        <dl class="pdeta">
                            <dt>
                            <div class="fore1">
                                订单支付金额：
                            </div>
                            <div class="fore2">
                                ￥0.00
                            </div>
                            </dt>
                            <div class="fore1">
                                无支付信息&nbsp;&nbsp;
                            </div>
                            <div class="fore2"></div>
                            <div class="fore3"></div>
                        </dl> </td>
                    <td> <span class="ftx-02">已完成</span> </td>
                    <td> <a href="/rest/refund/refundDetail?orderId=9978927510&amp;applyId=348807569&amp;status=40&amp;handleResult=true&amp;bizType=0">查看</a> </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="mt10 clearfix">
            <div class="pagin pagin-m fr">
                <!--  <span class="text">共3条记录</span>    <span class="text">共1页</span> -->
                <span class="prev-disabled">上一页<b></b></span>
                <!-- <span class="prev-disabled">首页</span> -->
                <a class="current">1</a>
                <!-- <span class="next-disabled">末页</span>  -->
                <span class="next-disabled">下一页<b></b></span>
            </div>
        </div>
    </div>
</div>