
    <!-- 内容头标题 -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">订单管理后台</a>
            </li>
            <li class="active">首页</li>
        </ul>
    </div>
    <!-- 内容头标题 end-->







    <!--页面内容-->
    <div class="page-content">
        <!-- 页头菜单 -->
        <div class="page-header">

        </div>
        <!-- 页头菜单 end -->


        <!-- 内容 -->
        <div class="row">

            <h1>Welcome to NZLM Unite-BMS...</h1>


        </div>
        <!-- 内容 -->

    </div>
    <!--页面内容 end-->


</div>
